@charset "utf-8";
@import "./../../import/mixin";
@import "./../../import/variables";

.c-shake {
   cursor: pointer;
   &__right {
      position: absolute;
      top: 26%;
      right: -2%;
      width: 13%;
    }
   &__left {
      position: absolute;
      top: 26%;
      left: -2%;
      width: 13%;
    }

    &:hover {
      opacity: 0.8;
   }
}
