<!DOCTYPE html>
<html>
<head>
<%- include('module/meta'); -%>
<%- include('module/common'); -%>
</head>
<body>

<!-- アニメーション -->
<div id="parallax-bg"></div>

<!-- コンテンツ -->
<div class="contents">
  <div class="inner">
    <img src="./img/youtube_01.png" class="u-pc-mb30 u-sp-mb" alt="特別キャンペーン開催中！">
    <img src="./img/youtube_02.png" class="u-pc-mb30 u-sp-mb" alt="完全招待制自動売買ソフト">
    <img src="./img/youtube_03.png" class="u-pc-mb30 u-sp-mb" alt="アルテマロゴ">
    <img src="./img/youtube_04.png" class="u-pc-mb30 u-sp-mb" alt="ラインでもメールでもご案内できます">

    <!-- ステップ1 -->
    <img src="./img/youtube_05.png" class="u-pc-mb30 u-sp-mb" alt="すぐにLINE@友達登録する方はこちら">
    <img src="./img/youtube_06.png" class="u-pc-mb30 u-sp-mb" alt="直接ライン友達追加できます!">
    <div class="c-shake u-relative">
      <img src="./img/youtube_07.png" class="u-pc-mb30 u-sp-mb" alt="日給1万5000円稼ぐ">
      <img src="./img/arrow-right.png" class="c-shake__right" alt="右矢印">
      <img src="./img/arrow-left.png" class="c-shake__left" alt="左矢印">
    </div>

    <!-- ステップ2 -->
    <img src="./img/youtube_08.png" class="u-pc-mb30 u-sp-mb" alt="メールからLINE＠友達登録する方はこちら">
    <div class="u-relative">
      <img src="./img/wave.png" class="step-1" alt="ステップ1">
      <img src="./img/youtube_09.png" class="u-pc-mb30 u-sp-mb" alt="各種ステップ" width="100%">
    </div>

    <form>
      <input type="text" name="name" type="text" class="c-mail-address u-pc-mb30 u-sp-mb" placeholder="お届け先Emailを入力">
    </form>
    <a href="#" class="c-send-btn">
      <img src="./img/youtube_10.png" class="" alt="ご案内メールを送信する">
    </a>
    <img src="./img/youtube_11.png" class="u-pc-mb30 u-sp-mb u-sp-w60" alt="Gmailが一番オススメです!">

    <!-- ご利用の流れ -->
    <img src="./img/youtube_12.png" class="u-pc-mb30 u-sp-mb" alt="ご利用開始の流れ">
    <img src="./img/youtube_13.png" class="u-pc-mb50 u-sp-mb u-sp-w60" alt="アルテマロゴ">
    <img src="./img/youtube_14.png" class="u-pc-mb50 u-sp-mb" alt="儲けを体感してください">
  </div>
</div>

<%- include('module/footer'); -%>

<script src="./js/particles.min.js"></script>
<script src="./js/script.min.js"></script>
</body>
</html>