<!DOCTYPE html>
<html>
<head>
<%- include('module/meta'); -%>
<%- include('module/common'); -%>
</head>
<body>

<!-- アニメーション -->
<div id="parallax-bg"></div>

<!-- コンテンツ -->
<div class="contents">
  <div class="inner">
    <img src="./img/youtube_01.png" class="u-pc-mb30 u-sp-mb" alt="特別キャンペーン開催中！">
    <img src="./img/youtube_02.png" class="u-pc-mb30 u-sp-mb" alt="完全招待制自動売買ソフト">
    <img src="./img/youtube_03.png" class="u-pc-mb30 u-sp-mb" alt="アルテマ">
    <img src="./img/youtube_04.png" class="u-pc-mb30 u-sp-mb" alt="ラインでもメールでもご案内できます">
    <img src="./img/youtube_05.png" class="u-pc-mb30 u-sp-mb" alt="">
    <img src="./img/youtube_06.png" class="u-pc-mb30 u-sp-mb" alt="">
    <div class="u-relative">
      <img src="./img/youtube_07.png" class="u-pc-mb30 u-sp-mb" alt="">
      <img src="./img/arrow-right.png" class="shake__right" alt="右矢印">
      <img src="./img/arrow-left.png" class="shake__left" alt="左矢印">
    </div>
    <img src="./img/youtube_08.png" class="u-pc-mb30 u-sp-mb" alt="">
    <div class="u-relative">
      <img src="./img/wave.png" class="step-1" alt="">
      <img src="./img/youtube_09.png" class="u-pc-mb30 u-sp-mb" alt="" width="100%">
    </div>
    <input type="text" name="name" class="u-pc-mb30 u-sp-mb" placeholder="お届け先Emailを入力">
    <img src="./img/youtube_10.png" class="" alt="">
    <img src="./img/youtube_11.png" class="u-pc-mb30 u-sp-mb" alt="">
    <img src="./img/youtube_12.png" class="u-pc-mb30 u-sp-mb" alt="">
    <img src="./img/youtube_13.png" class="u-pc-mb50 u-sp-mb" alt="">
    <img src="./img/youtube_14.png" class="u-pc-mb50 u-sp-mb" alt="">
  </div>
</div>

<%- include('module/footer'); -%>

<script src="./js/index.js"></script>
<script src="./js/particles.min.js"></script>
<script src="./js/script.min.js"></script>
</body>
</html>